<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DTMTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61646C101DC6C57A007BAD28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61646C241DC6C57A007BAD28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61646C2F1DC6C57A007BAD28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
